* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}



.sectionaboutme{
  background-color: red;
  min-height: 100vh;
  text-align: center;
  font-size: xx-large;
  

}

.sectioncontact{
  background-color: blue;
  min-height: 100vh;
  text-align: center;
  font-size: xx-large;
}
.sectionwelcome{
  background-color: green;
  min-height: 100vh;
  text-align: center;
  font-size: xx-large;
}