@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Oswald:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
}



.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.navbar-glassmorphism {
background: rgba(24, 24, 24, 0.7);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 1px solid rgba(24, 24, 24, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}



.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-black{
  font-weight: 550;
}

.text-white{
  font-size: large;
}

.fontstyleh2{
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: line;
  color: #fff;
  line-height: 4.5rem;
  font-family: 'Raleway', sans-serif;
}

.fontstyleh1{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Raleway', sans-serif;
}


@media (max-width: 992px){
  .fontstyleh1{
    font-size: 2rem;
  }

  .fontstyleh2{
    font-size: 3rem;
  }
}




/*Curser Effekt bei großen Devices*/

@media (min-width: 1200px) and (max-width: 1500px) { 
  .typewriter{
    color: #fff;
    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .09em solid #48cfad; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 45% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #48cfad }
  }
 }


/*----------------------AboutMe Section---------------------------------*/

.about-left{
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color:#fff
}
.about-left-content > div{
  background: #181818;
  padding: 4rem 4rem 2.5rem 5rem;
  text-align: center; 
  border-radius: 12px 12px 0 0;
}

.about-left-content{
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 1);
  border-radius: 12px;
  width:80%;
  transition: all 0.5s ease-in-out;
}

.about-left-content:hover{
  box-shadow: 0 15px 15px 0 rgba(72, 207, 173, 0.24), 0 17px 50px 0 rgba(72, 207, 173, 1);
  -webkit-box-shadow: 0 15px 15px 0 rgba(72, 207, 173, 0.24), 0 17px 50px 0 rgba(72, 207, 173, 1);
  -moz-box-shadow: 0 15px 15px 0 rgba(72, 207, 173, 0.24), 0 17px 50px 0 rgba(72, 207, 173, 1);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.about-img img{
  display: block;
  width: 200px;
  
}
.about-img{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  
  
}




.shadow{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}



.about-left-content h2{
  font-size: 2rem;
  margin: 2.2rem 0 0.6rem 0;
  line-height: 1.2;
  padding-bottom: 1rem;
  border-bottom: 3px solid #48cfad;
}


.about-left-content h3{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}
.icons{
  background: #181818;
  display: flex;
  justify-content: center;
  padding: 0.8rem 0;
  border-radius: 0 0 12px 12px;
  padding-bottom: 2rem;
}
.icons li{
  list-style-type: none;
  background: #48cfad;
  color: #000;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.icons li:hover{
  background: #fff;
  color: #000;
}
.about-right{
  background: #181818;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  text-align: center;
  color:#fff
}
.about-right h1{
  font-size: 4rem;
  text-transform: uppercase;
}
.about-right h1 span{
  color: #48cfad;
}
.about-right h2{
  font-weight: 600;
}
.about-btns{
  display: flex;
  margin: 2rem 0;
}
.btn{
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;
  color:#fff
}
.btn.btn-pink{
  background: #48cfad;
  color: #000;
  border-color: #48cfad;
  transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.btn.btn-white{
  transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
  background: #48cfad;
  border-color: #48cfad;
  color: #000;
}
.about-para p{
  font-weight: 400;
  font-size: 1.3rem;
  
  opacity: 1;
  color: #fff;
}

@media screen and (min-width: 992px){
  .about-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      
  }

  .about-left{
      position: relative;
  }
  .about-left-content{
      position: absolute;
      width:80%
  }
}

@media screen and (max-width: 992px){
    
  .about-img{
    transform: translateX(-10%)
    }

    .about-left-content{
     background-color: 181818;
     box-shadow: none;
    }
  .about-para{
    text-align: center;
    margin-left: -2.3rem;
  }

  
  
}

/*-------------------Information-----------------------*/

.bg-information{
  background-color: #181818;
  
}

.information-wrapper{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informationh1{
  text-align: center;
  color: #fff;
  
  margin-bottom: 5%;
  font-size: 2.5rem;

}

.information-headline{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.information-border::before{
  content: '';
  background: #48cfad;
  height: 3px;
  width: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(5.5rem)
}


.cards{
  
  display: flex;
  flex-flow: row wrap; 
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  }

.card{
  padding: 3rem;
  width: 23rem;
  transition: box-shadow .3s;
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 1);
  transition: all .5s ease-in-out;
  margin-bottom: 10rem;

}




.card:hover {
  box-shadow: 0 15px 15px 0 rgba(72, 207, 173, 0.24), 0 17px 50px 0 rgba(72, 207, 173, 1);
  transition: all .5s ease-in-out;
}


.card:hover .informationh3 {
  color: #48cfad;
  font-weight: 400;
}



.informationh3{
  color: #48cfad;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: .7rem;
  font-weight: 400;
  transition: color .3s;
}
    
.para-information {
  color: #fff;
  font-size: 1.3rem;
  line-height: 2rem;

  font-weight: 400;
}


.informationBtn{
  text-align: center;
  margin-top: 1rem;
  transform: translateX(10%);
  width: 80%;
}

@media screen and (max-width: 1024px){
  .card{
    padding: 1rem;
    box-shadow: 0 0px 0px 0 rgba(72, 207, 173, 0.24), 0 0px 0px 0 rgba(72, 207, 173, 0.19);
  }
  .card:hover{
    padding: 1rem;
    box-shadow: 0 0px 0px 0 rgba(72, 207, 173, 0.24), 0 0px 0px 0 rgba(72, 207, 173, 1);
  }

  .para-information {
    color: #fff;
    font-size: 1.3rem;
    
    
    font-weight: 00;
  }

  .information-border::before{
    display: none;
    
  }

  .informationh1{ 
  margin-bottom: 0%;
  }

  .card{

    margin-bottom: 0rem;
  }
  
 

}







@tailwind base;
@tailwind components;
@tailwind utilities;