.footer {
    color: grey;
    
    margin-top: 2rem;
}



.container-footer {
    display: grid; 
    grid-template-columns: repeat(2, 0.4fr); 
    grid-template-rows: repeat(2, 0.5fr); 
    gap: 0px 0px; 
    margin-top: 1rem;;
  }
  .icontel-footer {
    align-self: center; 
    
    grid-area: 1 / 1 / 2 / 2; 
  }
  .telefonnummer-footer {
    align-self: center; 
    grid-area: 1 / 2 / 2 / 3; 
  }
  .email-footer {
    align-self: center; 
    grid-area: 2 / 2 / 3 / 3; 
  }
  .iconmail-footer {
    align-self: center; 
    grid-area: 2 / 1 / 3 / 2; 
  }

.icon-footer{
    font-size: 2rem;
}
.contact-footer{
    font-size: 1.2rem;
}

.hover-footer:hover{
    color: #fff;
    cursor: pointer;
}


.footer-border{
    border-top: 2px solid grey;
    
}